@tailwind base;
@layer base {
  p:lang(ar) {
    margin-top: 0.25rem;
  }
  input:lang(ar) {
    line-height: 1;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nunito--font: "__Nunito_3dc409", "__Nunito_Fallback_3dc409";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.MuiPaper-root {
  border-radius: 14px !important;
}
.MuiList-root {
  height: 300px;
  width: 220px;
}

.muirtl-1bibxl1,
.css-1bibxl1 {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.MuiPickersPopper-root {
  direction: rtl;
}

.MuiPickersCalendarHeader-labelContainer {
  margin-left: auto;
  margin-right: 0 !important;
}

.MuiPickersDay-root:lang(en) {
  font-family: var(--nunito--font);
}
.MuiPickersCalendarHeader-label:lang(en) {
  font-family: var(--nunito--font);
}
.MuiPickersMonth-monthButton:lang(en) {
  font-family: var(--nunito--font);
}
.MuiPickersYear-yearButton:lang(en) {
  font-family: var(--nunito--font);
}
.MuiInputBase-input:lang(en) {
  font-family: var(--nunito--font);
}
